<mat-toolbar color="primary">
  <span>
    <ul>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/" routerLinkActive="mat-accent">Men</a>
          </li>
          <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/women" routerLinkActive="mat-accent">Women</a>
          </li>
    </ul>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/list" routerLinkActive="mat-accent">List</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
